<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350231371971-m0ndsivdt97sl0nngpqgu6i1apptsgcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350231371971-m0ndsivdt97sl0nngpqgu6i1apptsgcv</string>
	<key>API_KEY</key>
	<string>AIzaSyAnM9V1Hn8D84DqL4T8IERvEmRnBUlmcDg</string>
	<key>GCM_SENDER_ID</key>
	<string>350231371971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatbotapp</string>
	<key>PROJECT_ID</key>
	<string>chatbotapps-571f6</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbotapps-571f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350231371971:ios:1a04130476633ea8d58276</string>
</dict>
</plist>